body {
  background: #f2f2f2;
  color: #333;
  }

a {
  color: #333;
  text-decoration: none;
}
.cont {
  max-width: 960px;
  margin: 0 auto;
  color:#777;
}

/* Navbar */
nav {
  margin: 20px auto 100px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 50px;
  color:cadetblue;
  font-size: 20px;
}
nav a:hover {
  color: green;
}
nav h1 {
 color:rgb(92,158,159);
 margin-bottom:-3px;
 animation-name:home ;
 animation-duration: 5s;
}
nav .logo {
  margin-right: auto;
}

/* Footer */
footer {
  display: block;
  text-align: center;
  font-size: 55%;
  padding: 30px 0;
  margin-top: 160px;
  
  color: #777;
  border-top: 2px solid #eaeaea;
}

/* 404 page  */
.lost-page {

text-align: center;
}

.lost-page a {
color:rgb(19, 91, 95);
text-align: center;
font-size: large;
 text-decoration: underline; 
  }
 .lost-page img {
  width: 300px;
  height: 200px; 
 }
   
    /* single blog page */

   /* Category */
 .post-page .cat-set {
  float: right;
  color: rgb(66,133,185);
  animation-name:img ;
  animation-duration: 3s;
  }

 .post-page .cat-set h2{
 margin-right: 4px;
 font-size: 20px;
 animation-duration: 1s;
 }

  /* single page content */

  .post-page .post-cont h3{
 font-size: 16px;
  align-items: center;
 max-width: 600px;
      
  }
 .post-page .post-cont h4{
 font-size: 14px;
 text-align-last: center;
 max-width: 600px;
 color:rgb(51,91,147);
           
 }

.post-page .post-cont h1{
font-size: 22px;
text-align-last: center;
max-width: 600px;
animation-name:home ;
 animation-duration: 3s;

/* main blog page */

}
.blog-list ,.blog-list a {
color:rgb(92,158,159);

}

.blog-list ,.blog-list a:hover {
  color:rgb(109,89,71);
  
  }

.blog-list .blog-img {
float: right;
margin-top: 40px;
animation-name:img ;
animation-duration: 4s;
}

.blog-list h1 {
color:rgb(92,158,159);
font-size: 28px;
 }


/* about page */

.about-me .about-img {
  float: right;
  margin-top: 50px;
  animation-name:img ;
  animation-duration: 6s;
  
  
}

@keyframes img {
  0%   {background-color:rgb(162, 0, 255); left:0px; top:0px;}
  25%  {background-color:rgb(29, 163, 74); left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
}


.about-me .about-cont{
color:rgb(92,158,159);
max-width: 485px;

}
.about-me .about-cont h3 {
  font-size: 18px;
}
.about-me .contact-img img{
  margin-top: 100px;   
  color:rgb(92,158,159);
  animation-name:contact;
  animation-duration: 4s;
  animation-delay: 5s;
 animation-iteration-count: 3;
}

.about-me .contact-img {
margin-left: 400px;
margin-top: 100px;

}
@keyframes contact {
  from {right: 100px;}
   to {left: 80px;}
 }

/* Homepage /index */


.home h1{
 animation-name:home ;
 animation-duration: 3s;
}

@keyframes home {
  from {font-size:14px ;}
  to {font-size: 33px;}
}

.home .home-cont {
  display:grid;
  grid-template-columns: 65% 35%;
  max-width: 1200px;
  font-size: 12px;
  margin-bottom: 100px;
 
  }
  .home .home-cont h2{
   margin-top: 100px;
   font-size: 22px;
   max-width: 600px;
   color:rgb(92,158,159);
   
    }

.home-data .home-post {
display:grid;
grid-template-columns: 70% 30%;
max-width: 900px;
font-size: 20px;
color: rgb(92,158,159)
}

.home-data .home-post h2{
 padding-right: 50px;
 font-size: 20px;
}


.home-data .home-title h2{
 font-size: 24px;
 padding-left: 140px;
 color: rgb(92,158,159)
}
.home-data .home-title h1{
 font-size: 30px;
 margin-bottom: 50px;
 animation-name:title ;
 animation-duration: 4s;
 animation-delay: 4s;
 animation-iteration-count: 2;
 
}

@keyframes title {
 from {font-size:14px ;}
 to {font-size: 30px;}
}

 

  /* coding page  */

  .coding .coding-img{
  float: right; 
  margin-top: -60px;
  animation-name:coding ; 
  position: relative;
  animation: coding 10s ;
  }

  @keyframes coding {
   from {right: -100px;}
   to {right: 80px;}
  }
  .coding .coding-cont h3 a{
    color:rgb(95, 89, 158)
  }
  .coding .coding-cont h3 a:hover{
    color:rgb(33, 23, 143)
  }


  .coding .coding-cont h1{
  color:rgb(42, 147, 153);
  font-size: 26px;   
  }